@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url('0.jpg');
    background-size: 100%;
}

h1 {
    text-align: center;
    font-size: 96px;
}

.edit {
    width: 256px;
    height: 36px;
}

select {
    height: 36px;
}

.next {
    height: 36px;
}

div.search {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}